<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志</title>
</head>
<body>
<h3>异常日志：</h3>
{% for error in errors %}
        {{ error }}
        <button type="submit" style="position:absolute;left:650px"><a href="{{ error }}?look=1" style="color: black">查看</a></button>
        <button type="submit" style="position:absolute;left:690px"><a href="{{ error }}?load=1" style="color: black">下载</a></button>
    <br>
{% endfor %}
<h3>正常日志：</h3>
{% for request in requests %}
        {{ request}}
        <button type="submit" style="position:absolute;left:650px"><a href="{{ request }}?look=1" style="color: black">查看</a></button>
        <button type="submit" style="position:absolute;left:690px"><a href="{{ request }}?load=1" style="color: black">下载</a></button>
    <br>
{% endfor %}
<h3>其他日志：</h3>
{% for other in others %}
        {{ other}}
        <button type="submit" style="position:absolute;left:650px"><a href="{{ other }}?look=1" style="color: black">查看</a></button>
        <button type="submit" style="position:absolute;left:690px"><a href="{{ other }}?load=1" style="color: black">下载</a></button>
    <br>
{% endfor %}
</body>
</html>
